<ion-view view-title="Calendar">
    <ion-nav-buttons>
        <button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete;">
        </button>

    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon" ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <h3 class="date">{{date}}</h3>
              <ion-item class="item item-divider date">
            Morning Action Steps
        </ion-item>
        <ion-item class="item item-divider date">
            Afternoon Action Steps
        </ion-item>
        <ion-item class="item item-divider date">
            Evening Action Steps
        </ion-item>
            <ion-list class="date" show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="task in tasks">
                <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(task)"></ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(task, $fromIndex, $toIndex)"></ion-reorder-button>
                {{task.title}}
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>