<ion-view view-title="Create Goal">

    <ion-content class="has-subheader">
        <div class="goal_creation">
            <p class="padding">Please input information about your goal:</p>
        </div>

        <div class="list padding">
            <label class="item item-input padding">
                <input type="text" placeholder="Goal Title">
            </label>
            <p class="padding">Please select a color:</p>
            <div class="colorcode button-bar padding">
                <button class="button button-calm"></button>
                <button class="button button-royal"></button>
                <button class="button button-energized"></button>
                <button class="button button-balanced"></button>
                <button class="button button-assertive"></button>
            </div>

            <a class="button button-royal button-block" href="#/tab/create_task">Continue</a>
        </div>

    </ion-content>
</ion-view>