<ion-view view-title="Create Goal">

    <ion-content class="has-subheader">
        <div class="goal_creation">
            <p class="padding">Please input information about your goal:</p>
        </div>

        <div class="list padding">
            <label class="item item-input padding">
                <input type="text" placeholder="Goal Title"  ng-model="goal.name">
            </label>
            <p class="padding">Please select a color:</p>
            <div class="button-bar padding buttonGroup">
<!--
                <button class="button button-calm"></button>
                <button class="button button-positive"></button>
                <button class="button button-energized"></button>
                <button class="button button-balanced"></button>
                <button class="button button-assertive"></button>
-->
                
                
            
                
                
                <ion-radio ng-model="choice" ng-value="'A'" id="calmRadio">Calm</ion-radio>
                <ion-radio ng-model="choice" ng-value="'B'" id="positiveRadio">Positive</ion-radio>
                <ion-radio ng-model="choice" ng-value="'C'" id="energizedRadio">Energized</ion-radio>
                <ion-radio ng-model="choice" ng-value="'D'" id="balancedRadio">Balanced</ion-radio>
                <ion-radio ng-model="choice" ng-value="'E'" id="assertiveRadio">Assertive</ion-radio>
            </div>

            <a class="button button-royal button-block" href="#/tab/create_task">Continue</a>
        </div>

    </ion-content>
</ion-view>