<ion-view view-title="Goal Bank">

    <ion-content class="has-subheader">

        <h2 class="padding title">Willa's Goal Progress</h2>

        <a class="button button-royal button-block" href="#/tab/create_goal">Manage Goals</a>

        <div class="list">

            <a class="item item-icon-left" href="#">
                <i class="icon ion-fork"></i> Healthy Eating
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-walk"></i> Physical Fitness
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-university"></i> Academic Performance
            </a>
        </div>



    </ion-content>
</ion-view>