<ion-view view-title="Goal Bank">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showEdit = false;">
        </button>
    </ion-nav-buttons>

    <ion-content class="has-subheader">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>

        <h2 class="padding title">Goal Progress</h2>

        <progress max= "{{prog.total}}" value="{{prog.progress}}"></progress>
        <!--        <just-gage id="test1" class="someClass" min="0" max="100" value="42" title="Test 1"></just-gage>-->


        <a class="button button-royal button-block" href="#/tab/create_goal">Create a Goal</a>
        <!-- ITEMS IN GOALS dynamic

        <div class="list">
        <a ng-repeat="item in goals" class=" item item-icon-left {{item.color}}">
         <i class="icon {{item.icon}}"></i>
          {{item.name}}
        </a>
      </div>
-->


        <ion-list show-delete="data.showDelete">
            <div ng-repeat="goal in goals">
                <ion-item class="goal_text item item-icon-left {{goal.color}}" ng-click="toggleGoal(goal)" ng-class="{active: isGoalShown(goal)}">
                    <ion-option-button class="button-dark" ng-click="toggleEdit(goal)">
                        <i class="icon ion-edit"></i>
                    </ion-option-button>
                    <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(goal)"></ion-delete-button>
                    <i class="goal_info icon {{goal.icon}}" ng-class="isGoalShown(goal)"></i> &nbsp; {{goal.name}} {{goal.completed}}/{{goal.freq}}

                </ion-item>
                <ion-item class="item item-button-right padding-task" ng-repeat="task in goal.task" ng-show="isGoalShown(goal)">
                    <ion-delete-button class="ion-minus-circled" ng-click="onTaskDelete(goal, task)"></ion-delete-button>
                    <ion-option-button class="button-dark" ng-click="toggleEditTask(task)">
                        <i class="icon ion-edit"></i>
                    </ion-option-button>
                    <span ng-class="{done: task.completed}">{{task.title}}</span>
                    <button class="button button-{{goal.color}}" ng-click="taskCompleted(task, goal)">
                        <i class="icon ion-checkmark"></i>
                    </button>
                </ion-item>
                <ion-item class="item item-icon-left" ng-show="isGoalShown(goal)" ng-click="addTask(goal)">
                    <i class="icon ion-ios-plus-empty"></i> Action Step
                </ion-item>
            </div>
        </ion-list>


        <!-- MODALS
    <div class="buttons">
        <button class="button button-icon ion-compose" ng-click="modal.show()">
        </button>
      </div>
        
-->

    </ion-content>
    <!--
     MODALS
    <script id="templates/goal_overview.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">New Contact</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input ng-model="newUser.firstName" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input ng-model="newUser.lastName" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input ng-model="newUser.email" type="text">
                </label>
                <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>    
-->

</ion-view>