<ion-view view-title="Reflection">

    <ion-content class="has-subheader">
        <div>
             <p style="text-align:center; font-weight:bold; font-size:20px;" class="padding">Reflect on yesterday</p>
<!--
            <div ng-repeat="goal in goals">
                {{numCompletedTasks(goal)}}/{{numTasks(goal)}}
            </div>
-->
            <div class="reflection-container">
            <label>
                What went well?
            </label>
            <textarea class="padding reflection-textarea" rows="3"  ng-model=reflection.text-went-well></textarea>
            </div>
            
            <div class="reflection-container">
            <label>
                What didn't go well?
            </label>
            <textarea class="padding reflection-textarea" rows="3"  ng-model=reflection.text-didnt-well></textarea>
            </div>
            
            <div class="reflection-container">
            <label>
                Next time I will...
            </label>
              <textarea class="padding reflection-textarea" rows="3"  ng-model=reflection.text-next></textarea>
            </div>
            
            <div class="reflection-container">
            <label>
                Other
            </label>
             <textarea class="padding reflection-textarea" rows="3"  ng-model=reflection.text-other></textarea>
            </div>
            
            <button class="button button-block button-royal" ng-click="schedule()" >
                Schedule your next day
            </button>
        </div>
    </ion-content>
</ion-view>