#calmRadio.item-radio .item-content{
    background-color:  #43cee6;
    height:50px;
}

#positiveRadio.item-radio .item-content{
    background-color: #4a87ee;
     height:50px;
}

#energizedRadio.item-radio .item-content{
    background-color: #f0b840;
     height:50px;
}
#balancedRadio.item-radio .item-content{
    background-color:  #66cc33;
     height:50px;
}

#assertiveRadio.item-radio .item-content{
    background-color: #ef4e3a;
     height:50px;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
    font-size: 15px;
    
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.goal_info {
    margin-left:40px;
}
.goal_text {
   text-align: center;
}
.done {
  text-decoration: line-through;
}
.padding-task {
    padding-left: 5px;
    padding-right:5px;
}
progress[value] {
  height: 20px;
    width: 250px;    

}